@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable; /* Modern browsers */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Global cursor pointer for all buttons */
button {
  cursor: pointer;
}

/* Exception for disabled buttons */
button:disabled {
  cursor: not-allowed;
}